{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ user.profile.image.url}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ request.user.username}} </h4>
                        <small><cite title="San Francisco, USA"><i class="glyphicon glyphicon-map-marker"></i>{{user.profile.location}}</cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ request.user.email}}
                            <br />
    
                        <!-- Split button -->
                        <div class="btn-group">
                            {% if user.is_superuser %}
        <a class="btn btn-theme02  btn-xs pull-left" href="{% url 'admin:index' %}">Admin Panel</a>
        {% endif %}
      
                            <a class="btn btn-theme btn-xs pull-right" href="{% url 'profile_update' %}">update profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}